services:
  # The Node.js/Express API Service
  api:
    # Instructions for building the Docker image for this service
    build:
      # The build context is the 'server' directory
      context: ./server
      # The Dockerfile to use is located in the context directory.
      dockerfile: Dockerfile
    # Maps port 5001 of the host machine to port 5001 in the container
    ports:
      - '5001:5001'
    env_file:
      - ./server/.env.dev
    environment:
      - NODE_ENV=development
    depends_on:
      - mongo
      - redis
  
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  mongo-data: